#ti-text{
    display: block;
    width: 100%;
    padding: 50px 10%;
}
#ti-text img{
    float: left;
    margin: 25px;
    min-width: 340px;
}
#ti-text p, #ti-text li {
    margin: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #888;
    margin-top: 20px;
}
#ti-text h2{
    margin: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #888;
    margin-top: 20px;
}
#ti-text ul{
    display: inline-block;
    padding-left: 20px;
}
#ti-text li{
margin: 0;
margin-left: 20px;
}
@media screen and (max-width:1000px){
    #ti-text img{
        min-width: unset;
    }
    #ti-text {
    padding: 50px 20px;
    }
    #ti-text ul{
        display: flex;
        flex-direction: column;
    }
}
 @media screen and (max-width:800px){
    #ti-text ul li{
        text-align: left;
    }
}
@media screen and (max-width:600px){
    #ti-text img {
        float: none;
        max-width: unset;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    #ti-text li{
        display: list-item;
    }
    #ti-text{
        padding-right: 20px;
    }
    #ti-text p{
        padding: 0;
        margin: 0;
    }
}
.link:visited, .link{
    transition: all .4s;
    color: #888;
    font-size: 110%;
}
.link:hover{
    color: blue;
}
#ti-text p.small{
    padding-left: 20px;
    font-size: 13px;
}