
/* slider */
#slider-container{
    margin-top: 20px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}
.galerija{
    width: 80%;
    max-width: 1000px;
    height: 500px;
    user-select: none;
    box-shadow: 0px 1px 1px 1px grey;
    padding: 10px;
    box-sizing: border-box;
}
.kontejner-za-slajdove{
    width: 100%;
    height: 90%;
    position: relative;
    background-color: gray;
    overflow: hidden;
}
.slajd{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.slajd img{
    width: 100%;
    height: 100%;
}
.okvir-za-strelicu{
    width: 50px;
    height: 72px;
    background: #00000040;;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
}
.strelica{
    opacity: 0.5;
    transition: all 0.3s;
}
strelica:hover, .kontejner-za-slajdove:hover .strelica{
    opacity: 1;
}
#levi-okvir-za-strelicu{
    left: 0px;
    top:50%;
    margin-left: -10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#desni-okvir-za-strelicu{
    right: 0px;
    top:50%;
    margin-right: -10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.okvir-za-strelicu:hover, .kontejner-za-slajdove:hover .okvir-za-strelicu{
background-color:#000000b8;
}
#levi-okvir-za-strelicu:hover, .kontejner-za-slajdove:hover #levi-okvir-za-strelicu, #desni-okvir-za-strelicu:hover, .kontejner-za-slajdove:hover #desni-okvir-za-strelicu {
    margin: 0px;
}
.strelica{
display: inline-block;
border-right: 3px solid white;
border-top: 3px solid white;
width: 10px;
height: 10px;
margin: auto;
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
} 
.leva-strelica{
    transform: rotate(225deg);
}
.desna-strelica{
    transform: rotate(45deg);
}
.okvir-za-tekst{
    position: absolute;
    bottom: 0px;
    z-index: 1;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background-color: #00000060;
}
#kontejner-za-tacke{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.tacka{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tacka:hover, .tacka.aktivna-tacka {
    background-color: #777777;
}
.tacka:first-child{margin-left:0;}

.pomeri-levo-trenutni-slajd{
    animation-name: pomeri-levo-trenutni-slajd;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.pomeri-levo-sledeci-slajd{
    animation-name: pomeri-levo-sledeci-slajd;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes pomeri-levo-trenutni-slajd{
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: -100%;
        opacity: 1;
    }
}
@keyframes pomeri-levo-sledeci-slajd{
    from {
        margin-left: 100%;
        opacity: 1;
    }
    to {
        margin-left:0;
        opacity: 1;
    }
}

.pomeri-desno-trenutni-slajd{
    animation-name: pomeri-desno-trenutni-slajd;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes pomeri-desno-trenutni-slajd{
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left:100%;
        opacity: 1;
    }
}
.pomeri-desno-sledeci-slajd{
    animation-name: pomeri-desno-sledeci-slajd;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes pomeri-desno-sledeci-slajd{
    from {
        margin-left: -100%;
        opacity: 1;
    }
    to {
        margin-left:0%;
        opacity: 1;
    }
}
.pomeri-tekst-ka-gore{
    animation-name: pomeri-tekst-ka-gore;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}
@keyframes pomeri-tekst-ka-gore {
    from{
        opacity: 0;
        margin-top: 100px;
    }
    to{
        opacity: 1;
        margin-top:0;
    }
}
.pomeri-tekst-ka-dole{
    animation-name: pomeri-tekst-ka-dole;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}
@keyframes pomeri-tekst-ka-dole {
    from{
        opacity: 0;
        margin-top: -100px;
    }
    to{
        opacity: 1;
        margin-top:0;
    }
}
/* main page content */
#text-container{
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    width: 100%;
    margin: 0;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
#text-container h1{
    font-size: 32px;
    font-weight: normal;
    margin-top: 100px;
}
#text-container p{
    margin: 20px 0;
    font-size: 20px;
    width: 70%;
    color: rgba(0, 0, 0, .7);
    text-align: justify;
}
@media screen and (max-width:600px){
    #text-container{ 
        padding-left: 0px;
    }
    .galerija{
        width: 100%;
        height: 300px;
        box-shadow: none;
    }
    #text-container p, #text-container h1{
        width: 100%;
        padding: 0 20px;
    }
    .slajd img{
        height: 300px;
    }
}