
@font-face{
    font-family: my-font;
    src: url("Montserrat-Bold.ttf");
}
#contact-container{
    width: calc(100% - 100px);
    margin: 50px;
    display: flex;
    justify-content: center;
}
p{
    margin-left: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #888;
    margin-top: 50px;
    margin: 50px;
}
#contact{
    display: flex;
    background-color: white;
    height: calc(100vh - 100px);
    border-radius: 30px;
    width: 1050px;
}
#form{
    width: calc(50% - 20px);
    height: 400px;
}
#form-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}
#form-image img{
    width: 350px;
    padding: 20px;
}
input, input:focus{
    height: 45px;
    border-radius: 25px;
    padding: 0 30px 0 55px;
    border: 0px;
    outline: 0px;
    color: #666666;
    position: relative;
}
textarea, textarea:focus{
    display: block;
    background: #e6e6e6;
    font-family: my-font;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    outline: 0;
    border: 0;
    border-radius: 25px;
    resize: none;
    color: #666666;
}
textarea{
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: my-font;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 45px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    height: 150px;
}
input {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: my-font;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    margin-bottom: 5px;
    box-shadow: 0 0 0 0 transparent;
}
input:focus{
    animation-name: shadow;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}
textarea:focus{
    animation-name: shadow-area;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}
@keyframes shadow{
    0%{
        box-shadow: 0 0 3px  1px #846addaa;
    }
    100%{
        box-shadow: 0 0 50px  30px #846add00;
    }
}
@keyframes shadow-area{
    0%{
        box-shadow: 0 0 1px  1px #846addaa;
    }
    100%{
        box-shadow: 0 0 30px  35px #846add00;
    }
}
button{
    margin-top: 10px;
    width: 100%;
    outline: none;
    border: 0;
    height: 50px;
    border-radius: 25px;
    background: #846add;
    font-family: my-font;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.input-container img{
    display: flex;
    height: 100%;
    align-items: center;
    border-radius: 25px;
    padding-left: 30px;
    position: absolute;
    pointer-events: none;
    color: #aaa;
    font-size: 15px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.input-container{
    position: relative;
    height: 50px;
}
.input-container svg{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    left: 20px;
    fill: #666666;
    transform: translateX(10px);
    transition: all .3s;
}
.input-container input:focus ~ svg{
    fill: #846add;
    transform: translateX(0px);
}
form h1{
display: block;
    font-family: my-font;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
}
form h1.alert {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
    font-size: 14px;
    border-left: 3px solid darkred;
}
form h1.alert.success {
    border-left: 3px solid darkgreen;
    background-color: #4CAF50;
}
#form, form{
    height: 500px;
    flex-direction: column;
    justify-content: center;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button:hover{
    background: #333;
    cursor: pointer;
}
.input-container, textarea{
    margin-bottom: 10px;
}
@media screen and (max-width:900px){
    #contact-container{
        overflow: hidden;
        width: calc(100% - 50px);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    form, #form {
        width: 330px;
    }
    .input-container, textarea, button{
        width: calc(100% - 20px);
    }
}
@media screen and (max-width:820px){
    form, #form {
        width: 300px;
    }
    #form-image{
        width: 400px;
    }

}
@media screen and (max-width:740px){
    #form-image{
        width: 300px;
    }
    #form-image img {
        width: 250px;
    }
}
@media screen and (max-width:670px){
    #contact {
        flex-direction: column;
        height: auto;
    }
    #form, #form-image{
        width: 100%;
        height: auto;
    }
    form{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .input-container, button, textarea{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    #contact-container, p{
        width: calc(100% - 40px);
        margin: 20px auto;
    }
}