*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --nav-height:60px;
    --nav-background: #eee8d8;
}
body{
    background-color: #f0f0f0;
    overflow-x: hidden;
}
#horisontal-nav{
    width: 100vw;
}
.nav-links{
    padding-left: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--nav-background);
    height: var(--nav-height);
}
.nav-links li {
    display: inline-block;
    cursor: pointer;
}
.nav-links li:first-child{
    margin-left: 20px;
}
.nav-links li:last-child{
    margin-right: 20px;
}
.nav-links  a{
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: all .35s;
    white-space: nowrap
}
.active, .active a{
    color:rgba(0,0,0,1);
}
#more{
    text-transform: uppercase;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button{
    height: var(--nav-height);
    display: flex;
    align-items: center;
}
.dropdown-content {
    background-color: var(--nav-background);
    display: block;
    position: absolute;
    z-index: 1;
    width: auto;
    transition: all .35s;
    overflow: hidden;
    width: 450px;
    opacity: 0;
    transform: scaleY(0);
}
.dropdown-content a{
    display: block;
    width: 100%;
    margin: 15px 20px;
    color: rgba(0, 0, 0, .7) ;
}
.dropdown-content a:hover, .dropdown-content a.active, ul a:hover {
    color: rgba(0,0,0,1);
}
.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: scaleY(1);
}
.dropdown-button{
color: rgba(0, 0, 0, .7);
}
@media screen and (max-width: 1000px){
    .nav-links  a{
        font-size: 14px;
    }
}
@media screen and (max-width: 720px){
    .nav-links  a{
        font-size: 12px;
    }
}
@media screen and (max-width: 550px){
    nav ul, li {
        display: block;
    }
}
/* icon animation */
#change-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    z-index: 5;
}
.change-icon {
  display: none;
  cursor: pointer;
  position: relative;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media screen and (max-width: 600px){
    .change-icon {
        display: inline-block;
    }
    #horisontal-nav{
        display: none;
    }
}
#vertical-nav{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right:  0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    max-width: 300px;
    background: rgba(0,0,0, .7);
    transform: translateX(300px);
    overflow: hidden;
    transition: all .5s;
    z-index: 3;
}
#vertical-nav ul.nav-links{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100vh;
    display: block;
    background-color: white;
}
#vertical-nav ul.nav-links .dropdown-content{
    background-color: white;
    padding: 10px;
}
#vertical-nav .nav-links li, #vertical-nav .nav-links li:first-child, #vertical-nav .nav-links li:last-child{
    display: block;
    width: 100%;
    margin-top: 20px;
}
#vertical-nav .nav-links .dropdown-button{
    display: block;
    width: 100%;
    height: auto;
}
#vertical-nav .nav-links a{ 
    font-size: 16px;
    white-space: normal;
}
#vertical-nav .dropdown-content{
    opacity: 1;
    display: block;
    width: auto;
    position: relative;
    transform: none;
}
#vertical-nav .dropdown-content a{
    margin: 0px;
    margin-top: 20px;
}
#vertical-nav .dropdown:hover .dropdown-content {
    display: block;
}
#vertical-nav .dropdown {
    max-height: 17px;
    transition: all 1s;
    overflow: hidden;   
}
#vertical-nav .dropdown:hover {
    max-height: 300px;
    overflow: hidden;   
}
#vertical-nav .nav-links li:first-child{
    margin-left: 0px;
}
#vertical-nav.show-nav{
    transform: translateX(0);
}